.container-letter {
  max-width: 330px;
  border: 1px solid black;
  margin: 30px 40px;
  border-radius: 8px;
}
.avatar {
  margin-top: 30px;
}
.name {
  margin: 30px 0;
  font-size: 24px;
}
.extras {
  font-size: 18px;
}
